#googleMap{
	position: relative;
	float: left;
	width:70%;
	height:600px;
}

#controls{
	position: relative;
	float: right;
	width: 30%;
	background-color: blue;
}

#wind{
	position: relative;
	height: 20px;
	top:200px;
}

button{
	height: 25px;
}

.compass{
	height: 250px;
	width: 250px;
}

#bearingCompass{
	position: relative;
}

#needle2{
	position: absolute;
	height: 250px;
	width: 4px;
	/*background-color: red;*/
	background: linear-gradient(180deg, #FF0000 50%, rgba(0,0,0,0) 50%);
}

#boatcompass{
	height: 150px;
	width:20;
	position: absolute;
	-webkit-transform-origin: 100% 100%;
}

#clock{
	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
	color: white;

}

#heading{

	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
	color: white;

}

#windSpeed{
	
	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
	color: white;

}

#compassContainer {
	display: inline-block;
}
